body {
    font-family: Helvetica;
}

h1 {
    font-size: 100px;
    font-weight:bold;
    color: khaki;
    text-align: center;
    vertical-align: middle;
    background-image: url("./img/pattern.jpeg");
    /* background-color: blue; */
}

header {
    
    font-size: 32px;
    font-weight: bold;
    color: white;
}

span {
    font-weight: bold;
    color: blue;
}

.brushes{
    background-color: mediumspringgreen;
}

.frames {
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}